{% extends 'blog/base.html' %}

{% block content %}

<h1>{{title}}</h1>

<form method="post">
    <!-- action - к какому url надо обратиться для обработки формы, тут не нужен-->
    <!-- method передачи данных - для передачи формы используют POST(логин/пароль)  -->
    <!-- enctype при передаче файлов совместно с данными, тут не нужен-->
    {% csrf_token %} <!-- csrf - для зачиты от csrf атак -->
    {{ form.as_p }} <!-- as_p это функция as_p() позволяет отображать
         поля через тэгабзац _p (есть _ul, _table, _div())-->
    
    <button type="submit">Регистраций</button>
</form>

{% endblock %}